/*Cabecalho da pagina */
.header {
  height: 180px;
  padding: 20px;
  background-color: #673AB7;
}

.header h3 {
  color: #FFF;
  margin-top: 0;
}

/*Corpo do FOrmulario*/
.form-body {
  padding:30px;
}

.form-title {
  margin: 0;
}

.required-fild {
  color: red;
}

.block {
  display: block;
}